<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993590207170-ifler7hnrnki6eq7t7vl01fi56lg8s38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993590207170-ifler7hnrnki6eq7t7vl01fi56lg8s38</string>
	<key>API_KEY</key>
	<string>AIzaSyBbFePuyyNo9zDCOk-589-1FcMrhix40aU</string>
	<key>GCM_SENDER_ID</key>
	<string>993590207170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Demetrio.SWAPI</string>
	<key>PROJECT_ID</key>
	<string>swapi-lazyloading</string>
	<key>STORAGE_BUCKET</key>
	<string>swapi-lazyloading.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:993590207170:ios:58eaafc9490ccfd3</string>
	<key>DATABASE_URL</key>
	<string>https://swapi-lazyloading.firebaseio.com</string>
</dict>
</plist>